@import "tailwindcss";

/* React Grid Layout - 리사이즈 핸들 항상 보이게 */
.react-grid-item > .react-resizable-handle {
  position: absolute;
  /* width: 10px !important; */
  /* height: 10px !important; */
  bottom: 0;
  right: 0;
  cursor: se-resize;
  z-index: 10;
  opacity: 100 !important;
  display: block !important;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 8px !important;
  height: 8px !important;
  border-right: 1.5px solid rgb(14, 13, 13) !important;
  border-bottom: 1.5px solid rgb(14, 13, 13) !important;
  opacity: 1 !important;
}


